:root {
  --primary-color: #c3d8f0;
  --font-size: 16px;
}
.containerP {
  position: relative;
  width: 325px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2px;
  margin-top: 10%;
  margin-right: 10%;
  margin-left: 0.5%;
  text-align: center;

}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  background-color: #e1e5e9;
}

.containerP .card {
  width: 400px;
  position: relative;
  height: 150px;
  background-color: var(--primary-color);
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0.5px 20px #e6e6e6;
  transition: 0.3s ease-in-out;
  margin-top: -5%;
  border-radius: 20px;
  text-align: center;
}

.containerP .card .imgBx {
  position: relative;
  width: 300px;
  height: 300px;
  top: -20px;
  left: -15px;
  box-shadow: 0.5px 2px 20px #e0e6f7;
  border-radius: 20px;
  border: 2px solid #ccc;

}

.containerP .card .imgBx img {
  width: 50%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}


.containerP .card .imgBx a {
  display: block;
  color: #2f4d7d;
}

.texto {
  font-family: serif;
  color: #2f4d7d; /* Puedes usar cualquier valor de color válido, como nombres de colores, códigos hexadecimales o RGB */
}

.contador-info {
  display: inline-block;
}

.containerT{
  width: 400px;
  height: 600px;
  background-color: #bcdcff;
  padding: auto;
  border-radius: 20px;

}
.containerT .custom-link {
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #2f4d7d;
}

/* Container Cards */


.containerCards {
  position: relative;
  width: 325px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2px;
  margin-top: 25%;
  margin-right: 10%;
  margin-left: 0.5%;
  text-align: cent
}
/* COLUMNA PRINCIPAL */

.containerHP {
  position: relative; /* Agrega posición relativa al contenedor principal */
  background-color: #c8eff9;
  padding: 10px;
  border-radius: 20px;
  margin-top: 20%;
}

.ContainerPublic{
  position: relative; /* Agrega posición relativa al contenedor principal */
  background-color: #fcfcfc;
  padding: 10px;
  border-radius: 20px;
  margin-top: 10%;
}

.btn-publi {
  background-color: #1877f2;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}
.btn-subir{
    background-color: #1877f2;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    float: left;
}
.btn-subir:hover {
  background-color: #ffffff; /* Cambia el color de fondo cuando el cursor esté sobre el botón */
}

.image-border {
  border-radius: 50%;
}

.form-publicar {
  display: flex;
  flex-direction: column;
  
}

.published {
  border: none;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
}

.upload-photo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
}

.image-public {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.input-file {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.input-file input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

