:root {
  --primary-color: #ffffff;
  --font-size: 16px;
}
.containerP {
  position: relative;
  width: 400px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2px;
  margin-top: 0.10%;
 /*  margin-right: 10%;
  margin-left: 0.5%; */
  text-align: center;
  

}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  background-color: #e1e5e9;
}
.scrollable-column {
  overflow-y: hidden;
}

.scrollable-column:hover {
  overflow-y: auto;
}

.containerP .card {
  position:absolute;
  width: 300px;
  height: 150px;
  background-color: var(--primary-color);
/*   margin: 30px 10px;
 */  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
  margin-top: -5%;
  border-radius: 10px;
  text-align: center;
}

.containerP .card .imgBx {
  position: relative;
  width: 300px;
  height: 300px;
  top: -20px;
  left: -15px;
  box-shadow: 0.5px 1px 10px #192e67;
  border-radius: 10px;
  border: 2px solid #ccc;

}

.containerP .card .imgBx img {
  width: 145px;
  height: 145px;
/*   margin-right: 5px;
 */  border-radius: 50%;
  object-fit: cover;
}


.containerP .card .imgBx a {
  display: block;
  color: #2f4d7d;
}

.texto {
  font-family: serif;
  color: #2f4d7d; /* Puedes usar cualquier valor de color válido, como nombres de colores, códigos hexadecimales o RGB */
}

.contador-info {
  display: inline-block;
}

.containerT{
  width: 400px;
  height: 600px;
  background-color: #bcdcff;
  padding: auto;
  border-radius: 20px;

}
.containerT .custom-link {
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #2f4d7d;
}
/* ------------------------------------------------------------------------ */
/* ----------------------------------CONTAINER CARDS ----------------------*/
/* -------------------------------------------------------------------------- */


.containerCards {
  position: relative;
  width: 325px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2px;
  margin-top: 25%;
  margin-right: 10%;
  margin-left: 0.5%;
  text-align: cent
}
/* ------------------------------------------------------------------------ */
/* ----------------------------------PRINCIPAL COLUMN ----------------------*/
/* -------------------------------------------------------------------------- */

.containerHP {
  position: relative; /* Agrega posición relativa al contenedor principal */
  background-color: #c8eff9;
  padding: 10px;
  border-radius: 10px;
  margin-top: 5%;
  box-shadow: 0.5px 1px 5px #192e67;
}

.ContainerPublic{
  position: relative; /* Agrega posición relativa al contenedor principal */
  background-color: #fcfcfc;
  padding: 10px;
  border-radius: 10px;
  margin-top: 3%;
  
}
.float-right {
  float: right;
}

.upload-button {
  position: relative;
  overflow: hidden;
}

.input-file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.image-public {
  vertical-align: middle;
  margin-right: 5px;
}


.image-border {
  border-radius: 50%;
}

.form-publicar {
  display: flex;
  flex-direction: column;
  
}

.published {
  border: none;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
}



.image-public {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.input-file {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.input-file input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
/* ---------------------------------------------------- -------*/
/* --------------CONTENEDOR PUBLICACIONES---------------------- */
/* ------------------------------------------------------- -------*/


.PubContainer {
  position: relative;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 10px;
  margin-top: 1%;
  background:#e0e6f7;
  
}

/* Agrega estilos a los contenedores secundarios */
.PubContainer > * {
  margin-bottom: 10px; /* Espacio entre los contenedores secundarios */
}

.container-usuarios-publicaciones {
  position: relative;
  min-height: 300px; /* Establecer una altura mínima para evitar que el contenedor sea demasiado pequeño */
  border-radius: 10px;
  background: #ffffff; 
  /* --------- */
  padding: 10px;
  margin-top: 1%;
  box-shadow: 0.5px 1px 10px #192e67;
}

.upload-photo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
  padding: auto;
}
.cotenidoPhoto{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
  height: 400px;
  resize: both;
  padding: auto;
}

/* Estilo del contenedor */
.cotenido-publicacion-usuario {
  width: 300px; /* Ancho máximo del contenedor */
  height: auto; /* El alto se ajustará automáticamente */
  /*border: 1px solid #ccc;  Borde para mostrar el contenedor */
  margin-bottom: 20px; /* Opcional: espacio entre publicaciones */
}

.image-container {
  text-align: center; /* Centra la imagen horizontalmente dentro del contenedor */
}

.image-container img {
  max-width: 100%; /* La imagen se hará más pequeña pero no excederá el ancho máximo del contenedor */
  height: auto; /* El alto se ajustará automáticamente para mantener la proporción */
  display: block; /* Eliminar cualquier espacio en blanco debajo de la imagen */
}
/* -------------------------------------------- -------*/
/* --------------------LIKES-------------------------- */
/* -------------------------------------------- ----------*/
 .like-button {
  color: black; /* Color por defecto del corazón */
  transition: color 0.2s ease-in-out; /* Transición suave al cambiar de color */
}

.like-button:hover {
  color: red; /* Color al pasar el cursor sobre el botón */
}

.like-active {
  color: red; /* Color cuando el botón está activo (ya se dio like) */
} 
/* ---------------------- */
/* Estilos generales para el botón */
.btn-like {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  color: #333;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
}

.btn-like:hover {
  background-color: #f9f9f9;
}

/* Estilos para cuando el botón está activo o cuando se le ha dado "Me gusta" */
.btn-like.liked {
  color: red;
}

.btn-like.liked .bi-heart {
  color: red;
}

/* Estilos para el icono de corazón */
.bi-heart {
  font-size: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

/* -------------------------------------------- -------*/
/* --------------------COMENTAR-------------------------- */
/* -------------------------------------------- ----------*/


.formulario-comentarios {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.image-borderComent {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: -40px;
}

.acciones-formulario-comentario {
  flex-grow: 1;
  margin-left: 10px;
}

.form-comentario-usuario {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.btn-comentario-container {
  text-align: right;
  margin-top: 10px;
}

.btn-purple {
  background-color:#1877f2;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-purple:hover {
  background-color:#1877f2;
}

/* -------------------------------------------- ------------------*/
/* --------------------COMENTARIOS-------------------------- ------*/
/* -------------------------------------------- ------------------*/
.comentarios-publicacion {
  position: relative;
  margin-top: 10px;
  max-width: 700px;
  height: 300px;
  background-color: #ffd9bc;
  padding: 1%;
  text-align: center;
  overflow: auto;
}

.comentario-reciente {
  margin-bottom: 10px;
}

.comentarios-ocultos {
  display: none;
}

.ver-mas-comentarios {
  text-align: center;
  margin-bottom: 10px;
}

.btn-purple {
  background-color:#1877f2;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-purple:hover {
  background-color:#1877f2;
}

.image-border {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.contianer-contenido-comentario {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 15px;
  box-shadow: 0.5px 2px 20px #192e67;

}
.contianer-contenido-comentario:hover {
  border-color: #667991; /* Cambiar por el color deseado */
}

.contenido-comentario-usuario {
  flex-grow: 1;
}


.big {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.float-right {
  float: right;
  color: red;
  font-size: 16px;
}

.float-right:hover {
  color: darkred;
}


.comentarios-publicacion .comentario-reciente {
  display: block;
}

.comentarios-publicacion .comentarios-ocultos {
  display: none;
}
