header {
    background-color: var(--main-color);
}
.image-logo{
    width: 27px;
}
.type-form{
    height: 100px;
}
.form-style{
    outline: none;
    border: 0;
    border-top-left-radius: 21px;
    border-bottom-left-radius: 21px;
    padding: .3cm 0 .3cm .9cm;
}
.btn-from{
    border: 0;
    width: 40px;
    border-top-right-radius: 21px;
    border-bottom-right-radius: 21px;
    padding: .3cm .5cm .3cm 0;
    background-color: #ffffff;
    color: #a5a5a5;
    margin: 0;
    cursor: pointer;
}
 .img-perfil{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 5px;
 }
 .links{
    margin-right: 15px;
 }
 
 .links a{
    color: #ffffff;
    text-decoration: none;
 }
 .btn-radio{
    background-color: var(--main-color);
    border: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;   
 }
